
@import ../../_variables.sass

.card-pokemon
    .card-img
        background: $bg-primary
        img
            width: 100%
    .card-body
        .card-title
            font-family: $font-default
            font-size: 80%
            color: $color-primary

        .card-text
                font-family: $font-default
                color: $color-second
                text-transform: none
                font-size: 145%
